<div {{ attributes }}>
    <input aria-label="Points"
        class="form-control"
        data-action="live#action"
        data-live-action-param="updateStoryPoinEstimate"
        data-model="issue.storyPointEstimate"
        min="0"
        type="number"
    >
</div>